body {
    background: #202124;
    color: #F1F2F3;
    font-size: 14px;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.directory__node {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
}

.directory__node:hover {
    background: rgba(184, 205, 239, .2);
}

.directory__child {
    margin-left: 40px;
}

.pointer {
    cursor: pointer;
}

.node-icon {
    margin-right: 10px;
}