* {
    color: #F1F2F3;
    font-size: 14px;
}

body {
    background: #202124;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pointer {
    cursor: pointer;
}


.node-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    background: transparent;
    border-radius: 5px;
    border: none;
}

.node-item:hover {
    background: rgba(184, 205, 239, .2);
}

.node-item_plain:focus {
    background: rgba(184, 205, 239, .6);
    color: black;
}

.directory__child {
    margin-left: 40px;
}

.node-icon {
    margin-right: 10px;
}